/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */

.remainder {
	font-size: 14px;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	text-align: left;
	color: white;
	margin: 10px auto;
	max-width: 265px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border: .5px solid #444;
	border-radius: 3px;
	background: #444;
}

.progressbar {
	Display: grid;
  border: 1px solid #eaeaea;
  width: 265px;
  height: 12px;
	margin: 0px auto;
	grid-template-columns: 190px 75px;
	}

.progress {
	margin: 0px auto;
	max-width: 190px;
	min-width: 190px;
	padding: 0px;
	background-color: #EF5F3C;
	}

.content {
	font-size: 14px;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	line-height: 17px;
	margin: 0px auto;
	max-width: 265px;
	padding: 10px 18px 15px 18px;
	text-align: center;
	border: 1px solid #eaeaea;
	text-align: left;
	color: #777;
	box-shadow: 0px 1px #eaeaea;
}

.content #calltoaction {
	color: #EF5F3C;
}

.donate  {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-weight: bold;
	font-size: 13px;
  display: inline-block;
  margin-top: 10px;
	margin-bottom: 10px;
  padding: 0px;
  text-decoration: none;
	}

	.donate p {
		font-size: 16px;
		text-align: left;
		background: #FFFFFF;
	  border: .3px solid #eaeaea;
	  border-radius: 3px;
	  color: #777;
	  display: inline-block;
	  margin-right: 5px;
	  padding: 10px 66px 10px 10px;
	  text-decoration: none;
		box-shadow: 0px 1px #eaeaea;
	}

	.donate #type {
		color: black;
	}

.donate a {
	font-size: 16px;
	font-style: bold;
	background: #1cbc2c;
  border: .3px solid #2cac3d;
  border-radius: 3px;
  color: #ffffff;
  display: inline-block;
  margin-left: 5px;
  padding: 10px 22px;
  text-decoration: none;
	box-shadow: 0px 1px #2cac3d;
}

.donate a:hover {
  background: #eaeaea;
  border: .3px solid #2cac3d;
  color: #1cbc2c;
}

.content #faq {
  color: #20A1D4;
	font-size:13px;
	font-style: italic;
	text-decoration: inherit;
	margin-top: 20px;
}
.buttons {
	text-align: center;
}

.buttons a {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-weight: bold;
	font-size: 13px;
  background: #fffafa;
  border: .3px solid #eaeaea;
  border-radius: 3px;
  color: #777;
  display: inline-block;
  margin: 11px 5.5px;
  padding: 10px 22.5px;
  text-decoration: none;
	box-shadow: 0px 1px #eaeaea;
}

.buttons a:hover {
  background: #777;
  border: .3px solid #eaeaea;
  color: #ffffff;
}
